@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #d2d2ff;
  --dark-color: #16161d;
}

@layer base {
  *,
  *::before,
  *::after {
    @apply box-border m-0 relative font-normal;
  }

  ::selection {
    color: var(--dark-color);
    background: var(--primary-color);
  }

  html {
    scrollbar-gutter: stable;
  }

  body {
    @apply bg-dark font-main text-text-primary;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  pre {
    font-family: inherit;
    font-size: inherit;
  }

  .not-clickable {
    pointer-events: none;
  }

  .disabled {
    @apply opacity-30 pointer-events-none;
    pointer-events: none;
  }

  .sidebar {
    @apply fixed right-0 top-1/2 rounded-md bg-gradient-to-b from-gray-700/50 to-dark self-start lg:relative lg:top-0 items-start;
  }

  .active {
    @apply text-primary pointer-events-none;
  }

  .score-high {
    @apply border-primary;
  }

  .checkbox-label:focus-within .checkbox-container {
    @apply outline outline-1 outline-primary;
  }

  .checkbox-container {
    @apply w-[20px] h-[20px] block bg-dark border relative border-primary checked:bg-primary before:content-[''] before:w-[12px] before:h-[12px] before:absolute before:top-1/2 before:left-1/2 before:-translate-x-1/2 before:-translate-y-1/2 before:bg-primary mr-2 before:opacity-0 peer-checked:before:opacity-100 before:transition rounded-sm before:rounded-sm font-extralight;
  }

  .radio-label:focus-within .radio-container {
    @apply outline outline-1 outline-primary;
  }

  .radio-container {
    @apply w-[16px] h-[16px] left-0 top-2/4 -translate-y-1/2 rounded-full bg-dark border border-primary absolute before:content-[''] before:w-[8px] before:h-[8px] before:absolute before:bg-primary before:opacity-0 before:rounded-full before:left-1/2 before:top-1/2 before:-translate-x-1/2 before:-translate-y-1/2 peer-checked:before:opacity-100 before:transition-opacity;
  }
}
